.signature {
  height: 50px;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  font-size: 11px;
}

.msg-container {
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 20px;
  border: 1px solid #e9e9e9;
  background: #f8f8f8;
}
